body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-transform: capitalize;
}

body.tetris {
  background-image: url("/images/tetris.jpg");
  color: #e3e2e2;
}

body.snake {
  background-image: url("/images/snake.jpg");
  color: #e3e2e2;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4b4949;
  background-size: cover;
}

body.race {
  background-image: url("/images/race.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e3e2e2;
}

tr {
  background-color: #ffffff8f;
  color: #2f2c2c;
  text-shadow: 4px 4px 6px rgb(90 66 66);
}


td:first-child, th:first-child {
  padding: 1.2rem 1.5rem;
}

a {
  color: #00B7FF;
}
