<div class="container position-relative">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <a href="/age-verification">no ruter link</a>
        <a [routerLink]="['/age-verification']">Close shop</a>

        <a class="navbar-brand" href="#">Herbs shop</a>

        <div class="card float-end" style="width: 18rem;">
          <div class="card-body">
            <h5 [routerLink]="['/cart']" class="card-title">
              Cart ({{ cartItemsCount$ | async }})
            </h5>
          </div>
        </div>
      </div>
    </nav>

    @if (allCategories$ | async; as categories) {
      <div class="row">
        <div class="col-2">
          <app-category-selector
            (selected)="onCategorySelected($event)"
            [categories]="categories"></app-category-selector>
        </div>
        <div class="col">
          <app-products-list
            (buy)="addToCart($event)"
            [products]="productsToDisplay"></app-products-list>
        </div>
      </div>
    } @else {
      Loading...
    }
  </div>
</div>
