<div class="card" style="width: 18rem;">
  <form #ageForm="ngForm" (submit)="verify(ageForm.form, ageElelemnt, yearElement, ageModel, yearModel)">
    <div class="card-body">
      <h5 class="card-text">Age verification</h5>
      <div class="mb-3">
        <label class="form-label">How old are you?</label>
        <input
          type="number"
          name="age"
          class="form-control"
          #ageElelemnt
          #ageModel="ngModel"
          ngModel
          required
        />
        <p *ngIf="ageModel.touched && !ageModel.valid">This is required</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Year you were born</label>
        <select
          class="form-control"
          name="year"
          #yearElement
          #yearModel="ngModel"
          ngModel
          required
        >
          <option *ngFor="let year of years" [value]="year">
            {{ year }}
          </option>
        </select>
        <p *ngIf="yearModel.touched && !yearModel.valid">This is required</p>
        <!-- <p>Year errors: {{ yearModel.errors | json }}</p> -->
      </div>
    </div>

    <div class="card-footer text-muted">
      <button class="btn btn-primary" [disabled]="!ageForm.valid">
        Verify
      </button>

      <!-- <p>Form value: {{ ageForm.value | json }}</p> -->
    </div>
  </form>
</div>
